@import "../bootstrap/scss/bootstrap.scss";


body{
    text-align: center;
    background-color: rgb(100, 10, 101);
    
}
//---------------------------
nav{
    background-color: black;
    color: azure;  
    h5{
        color: #000000;
    }
    form{
        color: black;
        .row{
            margin: 10px;
        }
    }
    .btn-secondary{
        color: rgb(255, 255, 255);
        background-color: #000000;
        border-color: #ffffff;
    }


    #formulario-recuperarContrasena{
        color: #000000;
    }
}   
//-----------------------------------

#footer{
    background-color: #000000;
    margin-top: 30px;
    padding: 30px;


    div{
    margin-bottom: 0px;
    }
    hr {
            border: none;
            height: 7px;
            background-color: #ffffff;      
        }
    i{
        //margin: 0px 10px 0px 10px;
        font-size: 23px;
        color: #ffffff;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    img{
        max-width: 170px;
        margin-top: 0;
    }

}


// -----------------index --------------------------

#main-index{
    
// --------------------------------
.textoBanner{
    background-color: black;
    color: azure;
}

.fotosBanner{
    overflow: hidden;
    max-height: 500px;
    object-fit: cover;
}

//--------------------------------

#productos{
//    margin: 50px;
    
     h2{
        margin: 50px;
     }

    img{
        max-width: 250px;
        max-height: 250px;
        margin: 15px;
        border-radius: 20px;
    }
    .btn-primary{
        background-color: #52b7f665;
    }
}


}


// ---------------- detalles producto ----------

#main-detalles-productos{
    
    text-align: center;

    section{
        margin: 30px;
    }
    
    .carousel{
        img{
        max-width: 350px;
        }
    }

    img{
        max-width: 150px;
        margin: 15px;
        padding: 10px;
        border-radius: 35px;
    }

    .precio{
        
        h2{
            font-size: 50px;
        }
        p{
            color: green;
            font-size: 45px;
        }

        .btn-primary{
            
            color: rgb(0, 0, 0);
            font-size: 20px;
            background-color: #52b7f6;
            border-color: #ffffff;
            padding: 10px;
            border-radius: 75px;
            
            i{
                margin-right: 5px;
            }
        }
    }
}

