body{
    text-align: center;
    background-color: rgb(100, 10, 101);
    
}

#footer{
    height: 5rem;
    background-color: rgb(252, 151, 0);
}

//-------------------

nav{
    background-color: black;
    color: azure;
}

.textoBanner{
    background-color: black;
    color: azure;
}

.fotosBanner{
    overflow: hidden;
    max-height: 500px;
    object-fit: cover;
}


//-------------------


#productos{
    margin-top: 50px;
    margin-bottom: 50px;
    
     h2{
        margin: 50px;
     }

    img{
        max-width: 250px;
        max-height: 250px;
    }
}


















